@charset "UTF-8";

.container-fluid {
	padding-right:0;
	padding-left:0;
	margin-right:auto;
	margin-left:auto
}

* {
	font-family: 'Source Sans Pro', sans-serif;
}

/* ________________HEADER__________________*/

.navigation-menu {
	background: #3d67a1;
	padding: 22px 17px 19px 17px;
	margin-right: 0;
}

.white-link {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
	color: #ffffff;
}

.white-link:hover {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
	color: #f7faff;
}

.link-wrapper {
	padding-top: 19px;
}

@media (min-width: 768px) {
	.navigation-menu {
		padding: 25px 42px 26px 42px;
	}
	.link-wrapper {
		padding-top: 0;
	}
}

.principal {
	background-image: url(imgs/BG.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.heading {
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.09;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.sub-heading {
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 0.2px;
  color: #e7b64d;
}

.text-paragraph {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: 0.1px;
  color: #ffffff;
}

body {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	background-color: #FFFFFF;
}

/* ________________COMPONENTES__________________*/


.componentes {
	background: #5086d2;
	padding: 48px 8px 48px 8px;
}

.component-title  {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: 0.2px;
  text-align: center;
}

.yellow-text-title {
  color: #ffd16f;
}

.white-text-title {
  color: #fff6e2;
}

@media (min-width: 768px) {
	.componentes {
		padding: 36px 42px 45px 42px;
	}
}


/* ________________HABLAN__________________*/

.hablan {
	background: #e0edff;
	padding: 27px 8px 18px 8px;
}

.black-title {
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 0.2px;
  color: #676666;
}

.padded-logo {
	padding-bottom: 9px;
	align-self: center;
}

.cuadro {
  height: 290px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.08);
}

.client-quote {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: 0.3px;
  text-align: center;
  color: #818181;
}

.quote-card {
  padding-bottom: 10px;
}

.btn-normal {
	height: 36px;
  border-radius: 8px;
  background-color: #ffffff;
	box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1), 0 0 3px 0 rgba(0, 0, 0, 0.2);
	width: 100%;
}

.btn-normal:hover {
  background-color: #f7faff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}

.btn-normal-text {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
	color: #63a4ff;
	margin: 14px 8px 8px;
	vertical-align: middle;
}

.btn-normal-text:hover {
  color: #5086d2;
}

@media (min-width: 768px) {
	.hablan {
		padding: 27px 42px 18px 42px;
	}

	.quote-card {
		padding-bottom: 0;
	}
}

/* ________________CLIENTES__________________*/

.clientes {
  background-color: #d0e3ff;
	padding: 27px 8px 18px 8px;
}

@media (min-width: 768px) {
	.clientes {
		padding: 19px 42px 11px 42px;
	}
}

/* ________________PRODUCTOS_________________*/

.productos {
  background-color: #5086D2;
	padding: 27px 8px 18px 8px;
}

@media (min-width: 768px) {
	.products {
		padding: 19px 42px 11px 42px;
	}
}

.productoestilo1 {
	height: 399px;
	background-color: #5086d2;
	padding-top: 80px;
	padding-right: 8%;
}

.productoestilo2 {
	height: 420px;
	background-color: #E0EDFF;
	padding-top: 38px;
	padding-left: 8%;
}

.productoestilo1 .contenedortxtp {
	width: 40%;
	height: 286px;
	float: right;
}

.productoestilo2 .contenedortxtp {
	width: 40%;
	height: 286px;
	float: left;
}

.productoestilo1 h2 {	
	font-family: 'Palanquin Dark', sans-serif;
	font-size: 32px;
	font-weight: bold;
	line-height: 1.0;
	text-align: left;
	color: #FFFFFF;
	margin-bottom: 22px;
	margin-left: auto; margin-right: auto;
}

.productoestilo1 p {
	font-size: 14px;
	line-height: 1.36;
	letter-spacing: 0.1px;
	text-align: left;
	color: #FFFFFF;
}

.productoestilo1 ul {
	margin-top: 12px;
	font-size: 14px;
	line-height: 1.36;
	letter-spacing: 0.1px;
	text-align: left;
	color: #FFFFFF;
}

.productoestilo1 img {
  position: relative;
  left: 2%;
  bottom: 105px;
}

.imgcar {
  float: left;
  position: relative;
  width: 50%;
  left: 1%;
  bottom: 12px;
}

.productoestilo2 img {
  float: right;
  position: relative;
  left: auto;
  bottom: 42px;
  right: 2%;
}

.productoestilo2 h2 {	
	font-family: 'Palanquin Dark', sans-serif;
	font-size: 32px;
	font-weight: bold;
	line-height: 1.0;
	text-align: left;
	color: #676666;
	margin-bottom: 22px;
}

.productoestilo12 p {
	font-size: 14px;
	line-height: 1.36;
	letter-spacing: 0.1px;
	text-align: left;
	color: #676666;
}

.productoestilo2 ul {
	margin-top: 12px;
	font-size: 14px;
	line-height: 1.36;
	letter-spacing: 0.1px;
	text-align: left;
	color: #676666;
}

/* ________________TEAM_________________*/

.theteam {
  background-color: #FFFAF0;
	padding: 27px 8px 18px 8px;
}

@media (min-width: 768px) {
	.theteam {
		padding: 19px 42px 11px 42px;
	}
}

.person {
  display: flex;
  flex-direction: column;
}

.person-picture {
  align-self: center;
}

.person-info {
  display: flex;
  flex-direction: column;
}

.person-name {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.89;
  letter-spacing: normal;
  text-align: center;
  color: #676666;
  padding-top: 12px;
}

.person-position {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: center;
  color: #ba8d25;
  padding-top: 6px;
}

.blue-title {
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 0.2px;
  color: #4779c1;
  margin-bottom: 0;
}

.black-subtitle {
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.94;
  letter-spacing: 0.2px;
  color: #818181;
}

.mask-wrapper {
  width: 128px;
  margin: 0 auto;
  height: 128px;
}

.mask {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 128px;
  background-color: #ffffff;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.08);
  border-radius: 50%;
}

.you {
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 0.2px;
  color: #63a4ff;
}

.img {
  border-radius: 100%;
  display: flex;
  flex: 0 0 128px;
  height: 128px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 128px;
}

.img__overlay {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.25s;
  z-index: 1;
}
.img__overlay:hover {
  background-color: rgba(255,255,255,0.6);
  opacity: 1;
}
.img__overlay {
  background-color: #fff;
}
/* ________________FOOTER_________________*/

.footer {
  background-color: #4779c1;
}

.jooycardatos {
	background-color: #3d67a1;
	padding: 27px 8px 18px 8px;
}

.contacttitle {
	padding: 27px 8px 18px 8px;
}

.contact-heading {
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
	letter-spacing: normal;
	color: #ffffff;
}

.contact-sub-heading {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #ffd16f;
}

.address {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #ffffff;
}

.btn-submit-form {
  height: 36px;
  border-radius: 8px;
  background-color: #63a4ff;
	box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1);
	width: 100%;
}


.btn-submit-form:hover {
  background-color: #4d7dbf;
}

.btn-submit-form-text {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
	margin: 14px 8px 8px;
}


@media (min-width: 768px) {
	.contacttitle {
		padding: 19px 42px 11px 42px;
	}
	.jooycardatos {
		padding: 19px 42px 11px 42px;
	}
	.btn-submit-form {
		width: 50%;
	}
}

.contact-form input {
	background-color: #ffffff;
  height: 36px;
  border-radius: 8px;
}

.form-label {
  height: 16px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #ffffff;
}
